<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="user" value="Carmine" />
  <add key="server" value="jabber.se" />
  <add key="password" value="asdf" />
  <add key="tick-interval" value="30000" />
  <add key="operators" value="" />
<!-- optionnal
  <add key="network-host" value="jabber.se" />
  <add key="resource"     value="Carmine" />
  <add key="status"       value="I'm online" />
  <add key="auto-login"   value="false" />
-->
</appSettings>